ENVIRONMENT="development"
LOG_LEVEL="DEBUG"

DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_NAME="finance_api"
DATABASE_DRIVER="postgresql+asyncpg"
DATABASE_TEST_NAME="finance_api_test"
DATABASE_TEST_PORT="5433"
